<ion-view view-title="Requests">    
  <ion-nav-buttons side="right">
    <button ng-click="chats.showNewChatModal()" class="button ion-search button-icon"></button>
  </ion-nav-buttons>
    
  <ion-content>
      <ion-list>
        <ion-item ng-repeat="user in requests.users" class="item-button-right">
          <div class="item-chat item-remove-animate item-avatar item-icon-right item-button-right" style='min-height:inherit !important'>
              <img ng-src="{{ user.profile.picture || '/user-default.svg' }} ">
              <h2>{{ user.profile.name }}</h2>
              <p style="overflow:inherit !important"> Oye! I am using ThatzIt.</p>
              <div class="buttons" style="margin-top:10px !important;">
                  <button class="button button-positive" ng-click="requests.acceptFriendRequest(user._id)">
                      <i class="icon ion-checkmark-circled" style="position:initial !important"></i>
                  </button>                
                  <button class="button button-assertive">
                      <i class="icon ion-close-circled" style="position:initial !important"></i>
                  </button>
              </div>
            </div>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>